<a href="https://colab.research.google.com/github/AthuSindhu/DSML/blob/main/Exp1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

exp1

In [ ]:
print("hello")

hello

Exp1_datatypes

In [ ]:
a=1
print(type(a))
b='HariMca'
print(type(b))
c=[1,2]
print(type(c))
d={1:'hari',2:'krish'}
print(type(d))
e=True
print(type(e))
f=33.01
print(type(f))
g={"hari","krish"}
print(type(g))
h=(10,56)
print(type(h))
i=bytes(10)
print(type(i))
j=bytearray()
print(type(j))
k=range(4)
print(type(k))

<class 'int'>
<class 'str'>
<class 'list'>
<class 'dict'>
<class 'bool'>
<class 'float'>
<class 'set'>
<class 'tuple'>
<class 'bytes'>
<class 'bytearray'>
<class 'range'>

Containers

In [ ]:
#list
mca_list=['Athulya','devu','hari']
print(mca_list[0])
print(mca_list[0:2])
print(mca_list[-2])

Athulya
['Athulya', 'devu']
devu

Dictionary

In [ ]:
#dictionary
d={1:'hari',2:'giri',3:'mca'}
print(d)

print("1st name is"+d[1])
print("2nd name is"+d[3])

print(d.keys())
print(d.values())

{1: 'hari', 2: 'giri', 3: 'mca'}
1st name ishari
2nd name ismca
dict_keys([1, 2, 3])
dict_values(['hari', 'giri', 'mca'])

Tuple

In [1]:
x = ("apple", "banana", "cherry")
y = list(x)
y[1] = "kiwi"
x = tuple(y)

print(x)

('apple', 'kiwi', 'cherry')

set

In [2]:
#set
thisset = {"apple", "banana", "cherry"}

thisset.add("orange")

print(thisset)

{'banana', 'apple', 'orange', 'cherry'}

Functions and statements

In [3]:
#Functions and return statements
def my_function(x):
  return 5 * x

print(my_function(3))
print(my_function(5))
print(my_function(9))

15
25
45